
<!--
Created by rob on 16-11-15.

--><!DOCTYPE html>
<html lang="en">
  <head>
    <title>DrinkDispenser</title>
    <base href="/Website/">
    <link rel="stylesheet" type="text/css" href="node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body ng-app="app" ng-controller="mainCtrl" layout="row">
    <!-- Navigation menu (1th column)-->
    <md-sidenav md-component-id="sideNav" md-is-locked-open="$mdMedia('gt-sm')" class="md-sidenav-left md-whiteframe-z2">
      <!-- Account header-->
      <md-toolbar layout-align="start center" layout="row" class="md-tall md-hue-2">
        <div class="inset">
          <!--md-button(aria-label="Add" ng-click="showAdd($event)").md-fab.md-ink-ripple +-->
          <md-button aria-label="header" ng-click="showAdd($event)" class="md-fab md-ink-ripple">
            <md-icon md-svg-src="{{buttonsrc}}"></md-icon>
          </md-button>
        </div>
        <div class="inset">
          <p class="md-body-1">{{user.loggedUser.name}}</p>
        </div>
        <!--md-fab-trigger(aria-haspopup="true" aria-expanded="false").align-with-text-->
        
      </md-toolbar>
      <!-- Navigation buttons-->
      <md-list>
        <md-subheader>Home</md-subheader>
        <md-item ng-repeat="item in menuItems"><a ng-href="{{item.href}}">
            <md-item-content md-ink-ripple layout="row" layout-align="start center">
              <div class="inset">
                <md-icon md-svg-src="{{item.icon}}"></md-icon>
              </div>
              <div class="inset md-body-1">{{item.title}}</div>
            </md-item-content></a></md-item>
        <div ng-show="user.loggedUser.userId &gt; 0">
          <md-divider></md-divider>
          <md-subheader>User</md-subheader>
          <md-item ng-repeat="item in userItems"><a ng-href="{{item.title}}/{{user.loggedUser.userId}}">
              <md-item-content md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">
                  <md-icon md-svg-src="{{item.icon}}"></md-icon>
                </div>
                <div class="inset md-body-1">{{item.title}}</div>
              </md-item-content></a></md-item>
        </div>
      </md-list>
    </md-sidenav>
    <!-- Content (2th column)-->
    <div flex layout="column" tabIndex="-1" role="main" ng-click="sidenavOut()">
      <!-- Breadcrumbtoolbar (1th row)-->
      <md-toolbar layout="row" class="md-whiteframe-glow-z1 site-content-toolbar">
        <!--md-button.md-icon-button-->
        <!--    md-icon(md-svg-icon="android" aria-label="android")-->
        <!-- Sidenav button-->
        <md-button ng-click="sidenavToggle()" aria-label="menu" hide-gt-sm class="md-icon-button">
          <md-icon md-svg-icon="img/icon/hamburger.svg"></md-icon>
        </md-button>
        <!-- Breadcrumbs-->
        <div flex layout="row" class="fill-height md-toolbar-tools">
          <!--breadcrumb.md-toolbar-item.md-headline-->
          <!--md-icon(md-svg-src="img/icon/chevron.svg")-->
        </div>
      </md-toolbar>
      <!-- Products (2th row)-->
      <md-content flex layout="column">
        <ng-view flex="100"></ng-view>
      </md-content>
    </div>
    <!-- Dependency script-->
    <script type="text/javascript" src="index.js"></script>
    <!-- Config scripts-->
    <script type="text/javascript" src="index/config/route.js"></script>
    <script type="text/javascript" src="index/config/config.js"></script>
    <!--script(type="text/javascript", src="index/config/error.js")-->
    <!-- Service scripts-->
    <script type="text/javascript" src="index/service/cart.js"></script>
    <script type="text/javascript" src="index/service/breadcrumb.js"></script>
    <script type="text/javascript" src="index/service/user.js"></script>
    <script type="text/javascript" src="index/service/server.js"></script>
    <!-- Directive scripts-->
    <script type="text/javascript" src="index/directive/breadcrumb.js"></script>
    <!-- Filter scripts-->
    <script type="text/javascript" src="index/filter/sumByKey.js"></script>
    <script type="text/javascript" src="index/filter/sumByDoubleKey.js"></script>
    <!-- Controller scripts-->
    <script type="text/javascript" src="index/index.js"></script>
    <script type="text/javascript" src="ngview/login/login.js"></script>
    <script type="text/javascript" src="ngview/logout/logout.js"></script>
    <script type="text/javascript" src="ngview/category/category.js"></script>
    <script type="text/javascript" src="ngview/products/products.js"></script>
    <script type="text/javascript" src="ngview/cart/cart.js"></script>
    <script type="text/javascript" src="ngview/orders/orders.js"></script>
    <script type="text/javascript" src="ngview/settings/settings.js"></script>
  </body>
</html>