//
   Created by rob on 18-11-15.

md-list(role="list")

    md-card(ng-show="noOrders")
        div(layout="row")
            md-item
                p(style="text-align: center").md-body-2 No orders available

    md-card(ng-repeat="order in orders", layout="column").md-padding
        div(layout="row")
            md-item.md-button(flex="95" style="margin-right: 0px; margin-left: 0px;" ng-click="order.show = !order.show" md-swipe-right="onSwipeRight($index)")
                span Order with id: {{order.orderId}}
            p(flex="5" style="text-align: right" ng-click="deleteOrder($index)" ng-show="order.statusId == 1") X
        div(ng-show="order.show")
            md-list
                md-item(layout="row", layout-wrap)
                    p(flex="10").md-body-1
                    p(flex="20" style="text-align: left").md-body-1 Amount
                    p(flex="20" style="text-align: center").md-body-1 Name
                    p(flex="20" style="text-align: center").md-body-1 Cost
                    p(flex="20" style="text-align: right").md-body-1 Total
                md-divider
                p
                md-item(ng-repeat="productOrder in order._embedded.productOrders", layout="row", layout-wrap)
                    span(flex="5")
                        span(ng-show="order.statusId == 1" ng-click="increase($parent.$index, $index)") +
                    span(flex="5")
                        span(ng-show="order.statusId == 1" ng-click="decrease($parent.$index, $index)") -

                    span(flex="20" style="text-align: left") {{productOrder.amount}}
                    span(flex="20" style="text-align: center") {{productOrder.product.name}}
                    span(flex="20" style="text-align: center") {{productOrder.price | currency:"€"}}
                    span(flex="20" style="text-align: right") {{productOrder.price * productOrder.amount | currency:"€"}}
                    span(flex="10" style="text-align: right" ng-show="order.statusId == 1" ng-click="deleteProductOrder($parent.$index, $index)") X
            p
            md-divider(layout="row" layout-wrap)
                p(flex="10")
                p(flex="20" style="text-align: left").md-body-1 {{order._embedded.productOrders | sumByKey:'amount'}}
                p(flex="20" style="text-align: center").md-body-1 -
                p(flex="20" style="text-align: center").md-body-1 -
                p(flex="20" style="text-align: right").md-body-1 {{order._embedded.productOrders | sumByDoubleKey:'amount':'price' | currency:"€"}}