
<!--
Created by rob on 18-11-15.

-->
<md-list role="list">
  <md-card ng-show="noOrders">
    <div layout="row">
      <md-item>
        <p style="text-align: center" class="md-body-2">No orders available</p>
      </md-item>
    </div>
  </md-card>
  <md-card ng-repeat="order in orders" layout="column" class="md-padding">
    <div layout="row">
      <md-item flex="95" style="margin-right: 0px; margin-left: 0px;" ng-click="order.show = !order.show" md-swipe-right="onSwipeRight($index)" class="md-button"><span>Order with id: {{order.orderId}}</span></md-item>
      <p flex="5" style="text-align: right" ng-click="deleteOrder($index)" ng-show="order.statusId == 1">X</p>
    </div>
    <div ng-show="order.show">
      <md-list>
        <md-item layout="row" layout-wrap="layout-wrap">
          <p flex="10" class="md-body-1"></p>
          <p flex="20" style="text-align: left" class="md-body-1">Amount</p>
          <p flex="20" style="text-align: center" class="md-body-1">Name</p>
          <p flex="20" style="text-align: center" class="md-body-1">Cost</p>
          <p flex="20" style="text-align: right" class="md-body-1">Total</p>
        </md-item>
        <md-divider></md-divider>
        <p></p>
        <md-item ng-repeat="productOrder in order._embedded.productOrders" layout="row" layout-wrap="layout-wrap"><span flex="5"><span ng-show="order.statusId == 1" ng-click="increase($parent.$index, $index)">+</span></span><span flex="5"><span ng-show="order.statusId == 1" ng-click="decrease($parent.$index, $index)">-</span></span><span flex="20" style="text-align: left">{{productOrder.amount}}</span><span flex="20" style="text-align: center">{{productOrder.product.name}}</span><span flex="20" style="text-align: center">{{productOrder.price | currency:"€"}}</span><span flex="20" style="text-align: right">{{productOrder.price * productOrder.amount | currency:"€"}}</span><span flex="10" style="text-align: right" ng-show="order.statusId == 1" ng-click="deleteProductOrder($parent.$index, $index)">X</span></md-item>
      </md-list>
      <p></p>
      <md-divider layout="row" layout-wrap="layout-wrap">
        <p flex="10"></p>
        <p flex="20" style="text-align: left" class="md-body-1">{{order._embedded.productOrders | sumByKey:'amount'}}</p>
        <p flex="20" style="text-align: center" class="md-body-1">-</p>
        <p flex="20" style="text-align: center" class="md-body-1">-</p>
        <p flex="20" style="text-align: right" class="md-body-1">{{order._embedded.productOrders | sumByDoubleKey:'amount':'price' | currency:"€"}}</p>
      </md-divider>
    </div>
  </md-card>
</md-list>