//
   Created by rob on 18-11-15.

md-dialog(aria-label="logout screen" layout="row" layout-align="center center")
    md-button(ng-click="logout()").md-primary Logout
    md-button(ng-click="cancel()").md-primary Cancel