//
   Created by rob on 20-11-15.

md-card(layout="column").md-padding
    div(layout="row")
        p(flex="90" style="text-align: center")
        p(flex="10" style="text-align: right" ng-click="deleteOrder()") X
    div()
        md-list
            md-item(layout="row", layout-wrap)
                p(flex="10")
                p(flex="25" style="text-align: left") Amount
                p(flex="25" style="text-align: center") Name
                p(flex="25" style="text-align: right") Price
            md-divider
            p
            md-item(ng-repeat="item in cart.products.items", layout="row", layout-wrap)
                span(flex="5" style="text-align: center" ng-click="increase($index)") +
                span(flex="5" style="text-align: center" ng-click="decrease($index)") -
                span(flex="25" style="text-align: left") {{item.amount}}
                span(flex="25" style="text-align: center") {{item.name}}
                span(flex="25" style="text-align: right") {{item.price * item.amount | currency:"€"}}
                span(flex="15" style="text-align: right" ng-click="deleteProductOrder($index)") X
        p
        md-divider(layout="row" layout-wrap)
            p(flex="10")
            p(flex="25" style="text-align: left") {{cart.products.items | sumByKey:'amount'}}
            p(flex="25" style="text-align: center") -
            p(flex="25" style="text-align: right") {{cart.products.items | sumByDoubleKey:'amount':'price' | currency:"€"}}

    div(layout="row", layout-align="start center", layout-wrap)
        p(flex="10")
        md-button(flex="75" ng-disabled="cart.products.items.length == 0" ng-click="createOrder($event)", aria-label="order", style="margin-left: 0") Order
